@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
body{
    width: 1440px;
    margin: 0 auto 0 auto;
    padding: 0 0 0 0;
}
body::-webkit-scrollbar{
    display: none;
}
.header{
    display: flex;
    background-image: url(loopstudios-landing-page-main/loopstudios-landing-page-main/images/desktop/image-hero.jpg);
    height: 600px;
    width: 1440px;
    padding-top: 30px;
}
h1, nav, .slogan{
    font-family: 'Alata', sans-serif;
    color: white;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.7em;
    font-weight: 500;
    text-transform: uppercase;
}
.description p{
    font-family: 'Alata', sans-serif;
    font-size: 0.9em;
    color: rgb(141, 141, 141);
    line-height: 1.8em;
}
.slogan p{
    margin: 0;
    padding: 15px;
}
.slogan{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 70px;
    position: relative;
    top: 250px;
    left: -169px;
    height: 230px;
    border: solid 2px white;
}
.logo{
    margin-left: 163px;
}
nav{
    margin-top: 35px;
    position: relative;
    right: 0px;
}
nav a{
    margin-right: 35px;
    color: white;
    text-decoration: none;
    box-sizing: border-box;
}
a:hover{
    border-bottom: solid 2px white;
}
.description_block img{
    position: relative;
    margin-left: 163px;
    margin-top: 130px;
    width: 800px;
    height: 500px;
}
.description_block{
    display: flex;
    width: 100%;
}
.description{
    background-color: white;
    height: 280px;
    width: 450px;
    position: relative;
    left: -150px;
    margin-top: 310px;
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 0;
}
.gallery_header{
    display: flex;
    justify-content: space-between;
    position: relative;
    left: 163px;
    margin-top: 150px;
}
.gallery_button{
    position: relative;
    width: 130px;
    height: max-content;
    top: 25px;
    left: -325px;
    border: solid white 2px;
    padding: 20px 30px 20px 30px;
    margin-bottom: 60px;
    background-color: black;
    font-family: 'Alata', sans-serif;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.2em;
}